### IDEs ###
/nbproject/
.idea/
.vscode/*
.settings
.project
.buildpath

# Composer files
/vendor/
/composer.phar
/composer.lock

/phpunit.xml
.phpunit.result.cache
.phpunit.cache

/coverage
/clover.xml

.php_cs.cache
.phpcs.cache

.php-cs-fixer.cache
.php-cs-fixer.php

/clover.xml
/coveralls-upload.json

.DS_Store
error_log
php-error.log
*.bak
*.cache
*.*.cache
