includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    fileExtensions:
        - php
    reportUnmatchedIgnoredErrors: true
    ignoreErrors:
        - '#PDO::\_\_construct\(\) does not call parent constructor from PDO#'
